<ion-header>
	<ion-toolbar>
		<ion-title>
			Detalles de Registro
		</ion-title>
		<ion-buttons start>
				<span ion-text color="primary" showWhen="ios">Cancel</span>
				<ion-icon name="md-close" showWhen="android, windows"></ion-icon>
			<button ion-button (click)="close()">
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="centrado" Content>
	<p class="centrado titulo-evento">{{userInfo.evento}}</p>
	<div class="card-background-page">
    <ion-grid>
			<ion-row>
				<ion-col col-12 col-lg-6>
					<ion-card>
						<img src="assets/imgs/numero.png" class="faded"/>
						<div class="card-title">{{ userInfo.numero }}</div>
						<div class="card-subtitle">{{ userInfo.distancia }}</div>
					</ion-card>
				</ion-col>
				<ion-col col-12 col-lg-6>
					<ion-card>
						<ion-card-content>
							<p class="titulo" *ngIf="userInfo.nombre">{{ userInfo.nombre.toUpperCase() }} {{ userInfo.paterno.toUpperCase() }} {{ userInfo.materno.toUpperCase() }}</p>
							<p>{{ userInfo.categoria }} ({{ sexo }})</p>
							<p>{{ calcularEdad(userInfo.nacimiento) }} años</p>
							<button ion-button round (click)="entregarPaquete()" *ngIf="userInfo.kit_entregado === null && !showFirma"> Entregar Kit</button>
							<p *ngIf="userInfo.kit_entregado !== null" class="alert"  color="secondary">
								Kit Entregado<br>{{ userInfo.kit_entregado }}
							</p>
                			<p *ngIf="userInfo.kit_entregado !== null && representanteData.nombre !== null" class="alert">
                    			Entregado a: <br>{{ representanteData.nombre }}
                  			</p>
						</ion-card-content>
					</ion-card>
				</ion-col>
				<ion-col col-12>

				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-list>
		<div *ngIf="userInfo != undefined">
			<ion-item>
				<p>No de Caja : </p> {{ userInfo.caja }}
			</ion-item>
			<ion-item>
				<p>Tipo Código : </p> {{ userInfo.entidad }}  ({{ userInfo.codigo }})
			</ion-item>
			<ion-item>			
					<ion-label color="primary" stacked>Nombre Beneficiario Seguro:</ion-label>
					<ion-input [disabled]="userInfo.kit_entregado !== null" (keyup)="inputUppercase()" placeholder="Nombre Beneficiario" type="text" value="" [(ngModel)]="beneficiario"></ion-input>
			</ion-item>
			<div *ngIf="showFirma">
				<ion-item>
					<ion-label>Representante : </ion-label>
					<ion-checkbox [disabled]="userInfo.kit_entregado !== null" color="blue" [(ngModel)]="representante" (click)="checkRepresentante()"></ion-checkbox>
				</ion-item>
				<div *ngIf="showDatosRepresentante">
					<ion-item>
					<!--ion-label>Nombre Representante:</ion-label-->
					<ion-label color="primary" stacked>Nombre Representante:</ion-label>
					<ion-input [disabled]="userInfo.kit_entregado !== null" (keyup)="inputUppercase()" placeholder="Nombre Representante" type="text" value="" [(ngModel)]="representanteData.nombre"></ion-input>
					</ion-item>
					<ion-list>
						<!--ion-label>Documentos entregados: </ion-label-->
						<ion-label color="primary" stacked>Documentos entregados:</ion-label>
						<ion-item *ngIf="representanteData.documentos">
							<ion-label>Carta Exoneración</ion-label>
							<ion-checkbox [disabled]="userInfo.kit_entregado !== null" color="blue" [(ngModel)]="representanteData.documentos.cartaexoneracion"></ion-checkbox>
						</ion-item>
						<ion-item *ngIf="representanteData.documentos">
							<ion-label>Copia Credencial</ion-label>
							<ion-checkbox [disabled]="userInfo.kit_entregado !== null" color="blue" [(ngModel)]="representanteData.documentos.copiacredencial"></ion-checkbox>
						</ion-item>
						<ion-item *ngIf="representanteData.documentos">
							<ion-label>Carta Poder</ion-label>
							<ion-checkbox [disabled]="userInfo.kit_entregado !== null" color="blue" [(ngModel)]="representanteData.documentos.cartapoder"></ion-checkbox>
						</ion-item>
					</ion-list>
				</div>
				<div *ngIf="showFirma && userInfo.kit_entregado === null">
					<button ion-button round block (click)="presentModal()"><ion-icon name="paper"></ion-icon>&nbsp;Ver Exoneración</button>
					<button ion-button round (click)="cleanSingArea()" ><ion-icon name="create"></ion-icon>&nbsp; Limpiar Firma</button>
					<button ion-button round (click)="setFirma()" *ngIf="!firma_ok"><ion-icon name="ios-thumbs-up"></ion-icon>&nbsp; Firma ok</button>
					<!--button ion-button round (click)="saveSing()" *ngIf="firma_ok"><ion-icon name="cloud-upload"></ion-icon>&nbsp;Guardar</button-->					
				</div>
				<signature-pad disabled *ngIf="userInfo.kit_entregado === null" [options]="signaturePadOptions" #signature ></signature-pad>
				<div *ngIf="showFirma && userInfo.kit_entregado === null">
						<button ion-button round block (click)="getPicture()"><ion-icon name="camera"></ion-icon>&nbsp;Tomar foto {{ picture.message }}</button>
						<button ion-button round (click)="saveSing()" *ngIf="firma_ok"><ion-icon name="cloud-upload"></ion-icon>&nbsp;Guardar</button>					
				</div>
				<img *ngIf="userInfo.kit_entregado !== null" style="max-width: 100%; height: auto;" src="{{ imgFirma }}" />
				<img [src]="imageCredentialFront" *ngIf="imageCredentialFront" style="max-width: 100%; height: auto;" />
				<img [src]="imageCredentialBack" *ngIf="imageCredentialBack" style="max-width: 100%; height: auto;" />
			</div>
			<div>


			</div>
		</div>

		<button ion-button round (click)="saveShirtRunner()" *ngIf="userInfo.playera_corredor === null && !playera_ok"> Entregar Playera Corredor</button>
		<button ion-button round (click)="entregarPaquete()" *ngIf="userInfo.kit_entregado === null && !showFirma"> Entregar Kit</button>
		<ion-item *ngIf="userInfo.kit_entregado !== null" class="text-red-center">
			<p>Kit Entregado : </p>{{ userInfo.kit_entregado }}
		</ion-item>
		<ion-item *ngIf="userInfo.playera_corredor !== null" class="text-blue-center">
				<p>Playera Corredor Entregado : </p>{{ userInfo.playera_corredor }}
		</ion-item>
		<!--button ion-button round (click)="close()">Cerrar</button-->
	</ion-list>
</ion-content>
